<template>
  <div class="WeekDay">
    <h3>{{day.day_name}}</h3>
    <h3 v-if="day.lessons.length == 0" align="center">Выходной!</h3>
    <Lesson v-else
            v-for="(lesson, index) in day.lessons"
            v-bind:lesson="lesson"
            v-bind:key="index">

    </Lesson>
  </div>
</template>

<script>
  import Lesson from './Lesson.vue'

  export default {
    name: "DaySchedule",
    props: ['day'],
    components: {
      Lesson
    }
  }
</script>

<style scoped>
  .WeekDay {
    background: white;
    border-radius: 8px;
    border: 0 solid transparent;
    margin: 16px auto 16px auto;
    width: 95%;
    max-width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 38px;
    overflow: hidden;
  }

  .WeekDay > * {
    border-left: 5px solid rgb(224, 224, 224);
  }

  .WeekDay h3 {
    padding: 20px 0 15px 50px;
    margin: 0;
  }
</style>
