<template>
  <div class="Lesson"
       v-bind:class="{
                      ImportantLesson: lesson.importance === 'Важная',
                      UselessLesson: lesson.importance === 'Бесполезная',
                      OddWeek: lesson.week_type_id === '1',
                      EvenWeek: lesson.week_type_id === '2' }">
    <div class="number">{{number}}</div>
    <div class="time">{{this.start.format("HH:mm")}}<br>{{this.end.format("HH:mm")}}</div>
    <div class="type">{{lesson.lesson_type}}</div>
    <div class="name">{{lesson.lesson_name}}</div>
    <div class="teacher">{{lesson.teacher.Lastname}}</div>
    <div class="room">{{lesson.room}}</div>
  </div>
</template>

<script>
  import moment from 'moment';

  export default {
    name: "Lesson",
    props: ['lesson'],
    computed: {
      number: function () {
        switch (this.lesson.lesson_time_id) {
          case '1':
            return 'I';
            break;
          case '2':
            return 'II';
            break;
          case '3':
            return 'III';
            break;
          case '4':
            return 'IV';
            break;
          case '5':
            return 'V';
            break;
          case '6':
            return 'VI';
            break;
        }
      },
      start: function () {
        return new moment(this.lesson.start_time, "HH:mm:ss");
      },
      end: function () {
        return new moment(this.lesson.start_time, "HH:mm:ss").add(new moment.duration(+this.lesson.duration, "minutes"));
      }
    }
  }
</script>
<style scoped>
  .Lesson {
    position: relative;
    height: 80px;
    font-size: 18px;
  }

  .Lesson > div {
    position: absolute;
    left: 130px;
    top: 38px;
  }

  .Lesson .number {
    line-height: 80px;
    top: 0;
    left: 20px;
  }

  .Lesson .time {
    font-size: 16px;
    width: 44px;
    top: 18px;
    left: 50px;

  }

  .Lesson .type {
    font-size: 14px;
    color: grey;
    top: 17px;

  }

  .Lesson .name {

  }

  .Lesson .teacher {
    font-size: 14px;
    color: grey;
    top: 17px;
    left: auto;
    right: 35px;
  }

  .Lesson .room {
    left: auto;
    right: 35px;
  }

  .ImportantLesson {
    background: #FFF7F7;
  }

  .ImportantLesson::after {
    position: absolute;
    bottom: 4px;
    left: 130px;
    font-size: 12px;
    color: #ff5555;
    content: "Важный предмет";
    transition: opacity 500ms;
    opacity: 0;
  }

  .WeekDay:hover .ImportantLesson::after {
    opacity: 1;
  }

  .UselessLesson {
  / / opacity: 0.6;
    color: #777;
  }

  .UselessLesson::after {
    position: absolute;
    bottom: 4px;
    left: 130px;
    font-size: 12px;
    color: #333;
    content: "Неважный предмет";
    transition: opacity 500ms;
    opacity: 0;
  }

  .WeekDay:hover .UselessLesson::after {
    opacity: 1;
  }

  .OddWeek {
    border-color: #009B95 !important;

  }

  .EvenWeek {
    border-color: #C7007D !important;
  }
</style>
