<template>
  <div id="settingsPanel">
    Отображаемые недели:
    <div id="WeekTypeSelector">
      <select v-model="selected_week_type">
        <option value="1">Нечётные</option>
        <option value="2">Чётные</option>
        <option value="3">Все</option>
      </select>
    </div>
    <button onclick="document.getElementById('settingsPanel').style.display='none';">Закрыть</button>
  </div>
</template>

<script>

  export default {
    name: "SettingsPanel",
    props: ['week_types', 'current_week'],
    data: function () {
      return {
        selected_week_type: null,
      }
    },
    watch: {
      selected_week_type: function (newWeekType) {
        this.$emit('week_type_changed', newWeekType);
      },
      current_week: function () {
        this.selected_week_type = this.current_week;
      }
    }
  }
</script>

<style scoped>

  #settingsPanel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(226, 227, 230);
    display: none;
  }

</style>
