<template>
  <div id="settingsButton"
       onclick="document.getElementById('settingsPanel').style.display='block';">
    <img src="./../Images/gear.png" alt="Настройки"/>
  </div>
</template>

<script>
  export default {
    name: "SettingsButton"
  }
</script>

<style scoped>
  #settingsButton {
    position: relative;
    top: 5px;
    width: 100%;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
  }
</style>
