<template>
  <div v-bind:class="{
      current: type == '1',
      next: type == '2',
      odd: (type == '1' & week == '1') | (type == '2' & week != '1'),
      even: (type == '1' & week == '2') | (type == '2' & week != '2'),
      sideWeek: true }"/>
</template>

<script>
  export default {
    name: "WeekSidebar",
    props: ['type', 'week']
  }
</script>

<style scoped>
  .sideWeek {
    position: fixed;
    top: -24px;
    width: calc(100vh - 40px);
    height: 20px;
    border-bottom: 4px solid transparent;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
  }

  .sideWeek.current {
    left: 0;
    transform-origin: 0 100%;
    transform: rotate(90deg);
  }

  .sideWeek.next {
    right: 0;
    transform-origin: 100% 100%;
    transform: rotate(-90deg);
  }

  .sideWeek.even {
    border-color: #C7007D;
  }

  .sideWeek.odd {
    border-color: #009B95;
  }

  .sideWeek.current:before {
    content: "Текущая неделя: ";
  }

  .sideWeek.next:before {
    content: "Следущая неделя: ";
  }

  .sideWeek.even:after {
    font-weight: bold;
    content: "ЧЕТНАЯ";
    color: #C7007D;
  }

  .sideWeek.odd:after {
    font-weight: bold;
    content: "НЕЧЕТНАЯ";
    color: #009B95;
  }
</style>
