<template>
  <div id="app">
    <WeekSidebar v-bind:type="1" v-bind:week="current_week"/>
    <WeekSidebar v-bind:type="2" v-bind:week="current_week"/>
    <div id="TopBar">
      <SettingsPanel
        v-bind:week_types="week_types"
        v-bind:current_week="current_week"
        v-on:week_type_changed="week_type_changed"
      ></SettingsPanel>
    </div>
    <div id="timetable">
      <DaySchedule
        v-for="(day, index) in days"
        v-bind:day="day"
        v-bind:key="index"
      ></DaySchedule>
    </div>
    <SettingsButton/>
  </div>
</template>

<script>
  import SettingsPanel from './Components/SettingsPanel.vue'
  import DaySchedule from './Components/DaySchedule.vue'
  import WeekSidebar from "./Components/WeekSidebar.vue";
  import SettingsButton from "./Components/SettingsButton";
  import {APIDomain} from "./Scripts/Contants.js"
  import axios from 'axios'

  export default {
    name: 'app',
    data() {
      return {
        days: null,
        week_types: [{"week_type": "Нечётные", "week_type_id": "1"}, {
          "week_type": "Чётные",
          "week_type_id": "2"
        }, {"week_type": "Все", "week_type_id": "3"}],
        current_week: null
      }
    },
    created() {
      axios
        .get(APIDomain + '/API/GetCurrentWeek.php')
        .then(response => (
          this.current_week = response.data))
    },
    methods: {
      week_type_changed: function (newWeekType) {
        axios
          .get(APIDomain + '/API/GetTimeTable.php?week=' + newWeekType)
          .then(response => (this.days = response.data));
      }
    },
    components: {
      SettingsButton,
      WeekSidebar,
      SettingsPanel,
      DaySchedule
    }
  }
</script>

<style>
  #app {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(226, 227, 230);
    color: #333;
  }
</style>
