body {
    background-color: #FFFF9D;
}

.WeekDay{
    border-radius: 10px;
    border: 3px solid #79BD8F;
    margin: 10px auto;
    padding: 0 15px;
    width: 50%;
}

.Lesson {
    border-radius: 10px;
    border: 2px solid;
    margin-bottom: 5px;
    padding-left: 5px;
}

.ImportantLesson {
    background-color: #FF6138;
}

.UselessLesson {
    background-color: #BEEB9F;
}

.OddWeek {
    border: 4px solid #704EEB;
}

.EvenWeek {
    border: 4px dotted #42EB33;
}

#week_type_peek_block {
    display: inline-block;
}

#user {
    position: relative;
    float: right;
    display: inline-block;
}